[user]
	name = Dmitry Smal
	email = mialinx@gmail.com
[push]
	default = tracking
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[pretty]
	simple = "<%h> %ad [%an] %Cgreen%d%Creset %s"
	compact = "%Cred%h%Creset - %Cgreen%cr%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset"
[alias]
	graph = log --graph --date-order -C -M --pretty=compact --all --date=short
	graph2 = log --graph --date-order -C -M --pretty=simple --all --date=short
	jobdone = log --date-order --all --format=format:'%ai <%an>    %s' --after=7.days.ago
	st = status
	ci = commit
	co = checkout
	br = branch
	mg = merge
	rb = rebase
